@media screen and (max-width: 1440px) {
  .contacts-head {
    margin-bottom: 15px;
  }
  .single-location .center .img {
    height: 175px;
    width: 100px;
  }
  .single-location > p {
    margin-top: 15px;
  }
  .map {
    margin: 30px 0 70px;
  }
  .single-location .text {
    span {
      font-size: 18px;
    }
    strong {

      font-size: 12px;
    }
    p {
      font-size: 12px;
    }
    a {
      font-size: 12px;
    }
  }
  .article-content .align-right {
    margin-left: 25px;
    margin-bottom: 25px;
    max-width: 50%;
  }
  .article-content .align-left {
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 50%;
  }
  .article-content img{
    width: 100% !important;
    height: auto;
  }
  .checkout-footer {
    padding: 29px 30px;
  }
  .checkout {
    padding: 40px 0;
  }
  .checkout-info__content .cart-t {
    width: 220px;
    padding-right: 20px;
  }
  .checkout-info__content {
    padding: 45px 30px;
  }
  .orders-item__line .item {
    padding: 0 12px;
  }
  .cabinet-orders__head .item {
    padding: 19px 12px;
  }
  .product .left {
    width: 470px;
  }
  .product-slider__main {
    height: 284px;
  }
  .product-slider__thumbs {
    height: 235px;
  }
  .product-container > .name {
    font-size: 22px;
    line-height: 1.2;
  }
  .product-container .buttons .btn {
    height: 44px;
    padding: 4px 14px;
  }
  .product-sizes ul li a {
    padding: 4px;
    font-size: 11px;
  }
  .footer-container .numbers ul li a {
    font-size: 18px;
    line-height: 1.2;
  }
  .footer-column ul li a {
    font-size: 14px;
    line-height: 1.2;
  }
  .footer-column ul li {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-container .left {
    width: 300px;
  }
  .header-catalog__nav > ul > li ul {
    width: calc((100vw - 100%) - 18px);
  }
  .header-catalog__nav > ul > li ul li a {
    padding: 10px;
  }
  .header-menu {
    width: 300px;
  }
  .header-search {
    max-width: 270px;
  }
  .header-phone a {
    font-size: 14px;
  }
  .header-lang span {
    font-size: 14px;
  }
  .home .catalog__block {
    width: 300px;
    margin-top: 10px;
  }
  .cat-hero__right {
    width: calc(100% - 330px);
  }
  .header-catalog {
    width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .delivery-info {
    padding: 25px;
    margin-bottom: 50px;
    gap: 20px;
    .right, .left {
      width: calc(50% - 10px);
    }
    .right {
      padding-right: 0;
      p {
        font-size: 14px;
        line-height: 1.2;
        padding: 15px;
      }
      span {
        font-size: 14px;
        line-height: 1.2;
      }
    }
    .left {
      .btn {
        padding: 4px 10px;
        height: 40px;
      }
      > p {
        font-size: 16px;
        line-height: 1.2;
      }
      span {
        font-size: 14px;
        line-height: 1.2;
      }
      .text {
        p {
          font-size: 14px;
          line-height: 1.2;
          padding: 6px 10px;
        }
      }
    }
  }
  .delivery-pay .img {
    width: 40%;
  }
  .delivery-pay .text {
    p {
      font-size: 24px;
      line-height: 1.2;
    }
    span {
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .delivery-head {
    min-height: 460px;
  }
  .delivery-head {
    padding: 25px;
  }
  .delivery-head .text {
    max-width: 430px;
  }
  .delivery-head .text span {
    font-size: 17px;
    line-height: 1.2;
  }
  .delivery-head .text p strong {
    font-size: 14px;
  }
  .orders-item__line .item {
    &:nth-child(1) {
      width: 18%;
    }

    &:nth-child(2) {
      width: 17%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 16%;
    }

    &:nth-child(5) {
      width: 18%;
    }
  }
  .cabinet-orders__head {
    .item {
      &:nth-child(1) {
        width: 18%;
      }

      &:nth-child(2) {
        width: 17%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 16%;
      }

      &:nth-child(5) {
        width: 18%;
      }
    }
  }
  .header__contact a svg {
    width: 18px;
    height: 18px;
  }
  .header-cart p {
    font-size: 14px;
    line-height: 1.2;
  }
  .single-unit .text span {
    font-size: 12px;
    line-height: 1.2;
  }
  .single-unit .text p {
    font-size: 14px;
    line-height: 1.2;
  }
  .header__contact a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .article-content * {
    font-size: 12px;
    line-height: 1.2;
  }
  .article-content h2 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .article-content h3 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .article-content h4 {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}
.header-catalog__nav > ul > li ul {
  bottom: 0;
  overflow-y: auto;
}
@media screen and (min-width: 1201px) {
  .orders-item__table .cart-line > div {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1220px) {
  .checkout-okay {
    padding: 35px 20px;
  }
  .checkout__thanks .checkout-info__content {
    padding: 35px 20px;
  }
  .single-tab {
    gap: 12px;
  }
  .single-file a {
    font-size: 12px;
    line-height: 1.2;
  }
  .single-file {
    width: calc((100% / 3) - (24px / 3));
    padding: 13px;
    img {
      width: 33px;
      height: 33px;
    }
  }
  .single-location .center .img {
    margin-right: 10px;
  }
  .single-location {
    margin-top: 15px;
    .center {
      flex-direction: column-reverse;
      .img {
        margin-right: 0;
        width: 100%;
        height: 140px;
        margin-top: 10px;
      }
      .text {
        width: 100%;
      }
    }
  }
  .news-top-banner {
    padding: 25px;
    height: 270px;
  }
  .article-content iframe {
    margin: 25px 0;
  }
  .news-top-banner .center h1, .news-top-banner .center h2 {
    font-size: 26px;
    line-height: 1.2;
  }
  .news-sort {
    width: calc(100% - 15px);
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .news-list.news-list--news {
    padding-left: 15px;
  }
  .checkout__thanks .checkout-footer {
    padding: 35px 20px;
  }
  .cart-ar {
    display: none;
  }
  .checkout__thanks .checkout-info__content {
    padding: 35px 20px;
  }
  .checkout-content {
    .left {
      width: calc(40% - 15px);
    }

    .right {
      width: calc(60% - 15px);
    }
  }
  .orders-item__table .cart-line {
    .cart-t {
      span {
        display: inline-block;
      }
    }
  }

  .cabinet-orders__head .item, .orders-item__line .item {
    &:nth-child(2), &:nth-child(4), &:nth-child(5) {
      display: none;
    }

    &:nth-child(1) {
      width: 30%;
    }

    &:nth-child(3) {
      width: 40%;
    }

  }
  .cabinet-head {
    padding-bottom: 21px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .classic-section {
    padding: 60px 0;
  }
  .thumbs-sld {
    width: 72px;
  }
  .item-page-links {
    margin-bottom: 15px;
    padding: 10px 8px;
  }
  .product-available span {
    font-size: 12px;
    line-height: 1.2;
  }
  .product-colors span, .product-sizes span {
    font-size: 12px;
    strong {
      font-size: 13px;
    }
  }
  .product-container > .price {
    font-size: 28px;
    line-height: 1.2;
  }
  .product-rate {
    margin-top: 15px;
  }
  .product {
    padding-left: 15px;
  }
  .section__center-head {
    margin-top: 15px;
    padding-left: 15px;
  }
  .product-variations {
    gap: 11px;
  }
  .item-link {
    font-size: 12px;
  }
  .product-available {
    margin: 14px 0;
  }
  .product-colors ul {
    max-width: 120px;
  }
  .product-container .buttons {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .main-sld {
    width: calc(100% - 79px);
  }
  .product .left {
    width: 400px;
  }
  .product .right {
    padding-left: 15px;
  }
  .product-container .buttons .btn {
    font-size: 12px;
  }
  .units-footer {
    padding: 60px 0;
  }
  .product-container {
    & > .name {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .side-container {
    margin-bottom: 60px;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 4) - (3px / 4));
  }
  .footer-container {
    padding: 50px 0;
  }


  .header-catalog__nav > ul > li ul li a {
    font-size: 11px;
  }
  .footer-top__container > p {
    font-size: 18px;
    line-height: 1.2;
    max-width: 350px;
  }
  .footer-top__container .img {
    width: calc(60% - 390px);
    left: 350px;
  }
  .footer-top__container {
    padding: 30px 0;
  }
  .seo-section {
    padding: 60px 0;
  }
  .single-news .img {
    height: 190px;
  }
  .single-news .text p {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
  }
  .single-info {
    height: 286px;
  }
  .single-info .text {
    padding: 30px;

    .name {
      font-size: 22px;
    }

    .sub {
      font-size: 12px;
      max-width: 200px;
    }
  }
  .promo-single {
    height: 340px;
  }
  .promo-single .home-slider__text .name {
    font-size: 24px;
  }
  .promo-single .home-slider__text .sub {
    font-size: 14px;
  }
  .card-inner .img {
    height: 140px;
  }
  .card-inner .name {
    font-size: 12px;
  }
  .card-inner .btns {
    opacity: 1;
    pointer-events: auto;
  }
  .card-inner .rate {
    margin: 6px 0;
    opacity: 1;
    pointer-events: auto;
  }
  .card-inner .price {
    font-size: 16px;
    line-height: 1.2;

    strong {
      font-size: 12px;
    }
  }
  .header-catalog__nav > ul > li a {
    padding: 9px 20px 9px 28px;
  }
  .btn {
    padding: 5px 25px;
    font-weight: 500;
  }
  .single-unit .img {
    width: 42px;
    height: 42px;

    img {
      height: 21px;
    }
  }
  .home-slider {
    height: 360px;
  }
  .home-slider__text {
    ul {
      li {
        .img {
          width: 42px;
          height: 42px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .discount {
      padding: 30px 12px 6px;
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 18px;
    }

    .sub {
      font-size: 14px;
      line-height: 1.2;
    }

    .name {
      font-size: 32px;
      line-height: 1.2;
    }
  }
  .logo {
    max-width: 180px;
  }
  .header-search {
    width: 410px;
  }
  .header-phones {
    display: none;
  }
  .header__content {
    justify-content: flex-end;
  }
  .default-section {
    padding: 60px 0;
  }
  .cards-list.horizontal .card-inner .img img {
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .checkout__thanks {
    flex-wrap: wrap;
    justify-content: center;

    .column {
      width: calc(50% - 15px);
    }
  }
  .checkout-okay {
    width: 100%;
    max-width: none;
    padding: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .cart-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  .modal-added, .modal-fav {
    top: 63px;

    .cart-line {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .checkout-header__cont {
    padding: 0;
  }
  .checkout-content {
    column-gap: 10px;

    .left {
      width: calc(40% - 5px);
    }

    .right {
      width: calc(60% - 5px);
    }
  }
  .checkout-info__content {
    padding: 35px 30px;
  }
  .checkout-step {
    padding: 35px 30px;
  }
  .checkout-head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      font-size: 18px;
      line-height: 1.2;
    }

    a {
      margin-left: 0;
      margin-top: 5px;
    }
  }
  .checkout-form .check-cont span {
    line-height: 1.2;
  }
  .checkout-form .check-cont {
    padding-right: 20px;
  }
  .checkout-head {
    margin-bottom: 25px;
  }
  .checkout-header {
    padding: 16px 0;
  }
  .checkout-header .phones-sub {
    width: auto;
  }
  .delivery-head .text {
    max-width: 405px;
  }
  .article-content .align-right {
    margin-left: 25px;
    margin-bottom: 25px;
    max-width: 40%;
  }
  .article-content .align-left {
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 40%;
  }
  .checkout {
    padding-top: 54px;
  }
  .review-text {
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .checkout-footer {
    padding: 21px 30px;
  }
  .cart-p {
    padding: 10px;
  }
  .cart-q {
    padding: 10px;
  }
  .modal-added, .modal-fav {
    top: 63px;

    .cart-line {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .cart-line {
    margin-bottom: 20px;
  }
  .cart-line {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
  }
  .cart-table {
    max-height: calc(100vh - 190px);
  }
  .cart-table {
    margin-bottom: 0;
  }
  .checkout-info__content {
    padding: 35px 30px;
  }
  .cabinet-orders__table {
    margin-bottom: 30px;
  }
  .cabinet-orders__head {
    display: none;
  }
  .filter-control {
    margin-top: 10px;
  }
  .cabinet-profile {
    margin-top: 20px;
  }

  .cabinet-title {
    font-size: 24px;
    line-height: 120%;
  }
  .cabinet-cont {
    padding: 34px 29px;
  }
  .cabinet-links {
    margin-top: 20px;
  }
  .cabinet-name {
    .name {
      font-size: 14px;
      line-height: 165%;
      text-align: center;
      width: 100%;
      margin-top: 16px;
      margin-left: 0;
    }
  }
  .cabinet {
    padding-top: 35px;
  }
  .profile-log {
    padding: 54px 28px;
    margin-top: 15px;
  }
  .profile {
    padding:  20px 0 50px;
  }
  .classic-section {
    padding: 40px 0;
  }
  .complect-slides {
    padding: 50px;
    .dots {
      left: 50px;
    }
  }
  .complect-slides .control .btn {
    padding: 10px 14px;
    font-size: 12px;
    svg {
      width: 18px;
    }
  }
  .complect-items .card-inner, .complect-items .single-card:hover .card-inner {
    padding: 20px 20px 20px 180px;
  }
  .complect-slides .control p {
    font-size: 24px;
    line-height: 1.2;
  }
  .dev-head {
    padding: 15px 0;
    padding-left: 29px;
  }
  .dev-text p {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .product-details {
    margin-top: 25px;
  }
  .product-info__about, .product-file {
    margin-top: 25px;
  }
  .product-info__about span, .product-file span {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .product-file a {
    font-size: 12px;
    line-height: 1.2;
  }
  .product-info__about .text {
    font-size: 12px;
    line-height: 1.2;
  }
  .product-char .line {
    span {
      font-size: 12px;
      line-height: 1.2;
    }
    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .product-char {
    > span {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
  .product-dev {
    margin-top: 20px;
  }
  .dev-head.active ~ .dev-text {
    padding-bottom: 15px;
  }
  .product-sizes ul li a {
    font-size: 9px;
  }
  .product-colors ul li a {
    width: 24px;
    height: 24px;
  }
  .units-footer {
    padding: 30px 0;
  }
  .product-container {
    & > .name {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .catalog__block {
    margin-top: 10px;
  }

  .footer-column span {
    font-size: 14px;
    line-height: 1.2;
  }
  .footer-column ul li a {
    font-size: 12px;

  }
  .footer-column ul li {
    margin-bottom: 8px;
  }
  .logo-foot {
    width: 140px;
    margin-bottom: 20px;
  }
  .footer-container .left {
    width: 200px;
  }
  .footer-container .numbers ul li a {
    font-size: 16px;
    line-height: 1.2;
  }
  .cat-hero {
    overflow: visible;
  }
  .header-catalog__nav > ul > li ul {
    padding: 0;
  }
  .header-catalog__nav > ul > li ul li a {
    padding: 4px 7px;
  }
  .header-catalog__nav > ul > li ul li {
    width: calc(100% / 5);
  }
  .header-menu {
    width: 250px;
  }
  .header-lang ul {
    left: auto;
    right: 0;
  }
  .header-lang {
    &.active {
      ul {
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .single-brand {
    height: 116px;
  }
  .section-head {
    margin-bottom: 15px;
  }
  .red-link {
    font-size: 12px;
  }

  .card-inner {
    padding: 14px;
  }
  .single-card {
    width: calc((100% / 4) - (3px / 4));

    &:hover {
      .card-inner {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        margin: -4px;
        padding: 18px;
      }
    }
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
  }
  .cat-hero {
    margin-bottom: 60px;
  }
  .home-content {
    padding: 60px 0;
  }
  .home-section {
    padding-bottom: 60px;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .header-catalog__nav > ul > li a {
    font-size: 12px;
    line-height: 1.2;
  }
  .home .catalog__block {
    width: 250px;
    margin-right: 20px;
  }
  .header-catalog {
    width: 250px;
  }
  .cat-hero__right {
    width: calc(100% - 270px);
  }
  .cabinet-reviews__list {
    margin-bottom: 30px;
  }
  .review-line__head > a, .review-line__head > p {
    max-width: 230px;
  }
  .review-line__head .item-show {
    margin-right: 0;
  }
}
@media screen and (max-width: 1050px) and (min-width: 923px) {
  .orders-item__table {
    .checkout-footer {
      flex-direction: column;
      align-items: flex-start;
    }

    .checkout-info__content .cart-q {
      padding: 10px 10px;
    }

    .cart-i {
      width: 50px;
      height: 50px;
    }

    .checkout-footer__list {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .checkout-footer__total {
      width: 100%;

      p {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (max-width: 1022px) {

  .checkout-okay {
    .img {
      width: 34px;
      height: 34px;
      margin-bottom: 10px;
    }

    p {
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 1.2;
    }

    span {
      margin-bottom: 18px;
      font-size: 14px;
    }
  }
  .checkout-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
      width: 100%;
      margin-bottom: 10px;
    }

    .right {
      width: 100%;
    }
  }
  .checkout-form .input-cont {
    margin-bottom: 22px;
  }
  .checkout {
    padding-bottom: 0;
  }
  .checkboxes .check-cont {
    margin-bottom: 15px;
  }
  .checkout-info__content .cart-q {
    padding: 10px 30px;
  }
  .checkout-footer {
    padding: 21px 30px;
  }
  .checkout-form .check-cont span::before {
    top: 1px;
  }
}
@media screen and (max-width: 992px) {
  .user-header {
    .cabinet-name {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .text {
        p {
          margin-top: 0;
        }
      }
    }
  }
  .checkout-header .logo {
    height: auto;
    width: 100%;
    a, img {
      height: auto;
      width: 100%;
    }
  }
  .checkout-header {
    .header-phone__drop {
      right: 0;
      left: auto;
    }
  }
  .result {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .page-not-found {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 25px 25px 50px;
    .text {
      margin-top: 60px;
      span {
        font-size: 90px;
      }
    }
  }
  .info-page__head .news-sort a {
    font-size: 11px;
    flex-shrink: 0;
  }
  .info-page__head {
    margin-bottom: 15px;
  }
  .single-location .center .img {
    display: none;
  }
  .single-location {
    padding-top: 15px;
  }
  .contacts-container {
    padding-left: 0;
    padding-top: 15px;
  }
  .delivery-info {
    padding: 15px;
    margin-bottom: 40px;
    gap: 16px;
    .right, .left {
      width: calc(50% - 8px);
    }
    .right {
      padding-right: 0;
      p {
        font-size: 14px;
        line-height: 1.2;
        padding: 15px;
      }
      span {
        font-size: 12px;
        line-height: 1.2;
      }
    }
    .left {
      .btn {
        padding: 4px 10px;
        height: 40px;
      }
      > p {
        font-size: 14px;
        line-height: 1.2;
      }
      span {
        font-size: 12px;
        line-height: 1.2;
      }
      .text {
        p {
          font-size: 12px;
          line-height: 1.2;
          padding: 6px 10px;
        }
      }
    }
  }
  .delivery-head .text {
    margin-bottom: 0;
  }
  .delivery-head {
    min-height: 390px;
  }
  .delivery-container {
    padding-left: 0;
    margin-top: 15px;
  }
  .section__center {
    width: 100%;
  }
  .news-container {
    padding-left: 0;
    margin-top: 20px;
  }
  .news-sort {
    width: 100%;
    margin-left: 0;
  }
  .news-list.news-list--news {
    padding-left: 0;
  }
  .news-sort a {
    padding: 10px 15px;
  }
  .about-brand {
    padding: 60px 0 0;
  }
  .about-brand .text  {
    font-size: 12px;
    line-height: 1.2;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .section__center.section__center--ml {
    margin-left: 0;
    width: 100%;
    .section__center-head {
      padding: 0 30px !important;
    }
  }
  .section-brands {
    .single-brand {
      height: 114px;
    }
  }
  .comments-block {
    gap: 20px;
  }
  .single-comment {
    width: calc(50% - 10px);
    .text {
      padding-left: 0;
    }
  }
  .modal-container {
    padding-top: 53px;
    padding-bottom: 55px;
  }
  .complect-slides .slide-btns .btn-slides {
    height: 60px;
    width: 32px;
  }
  .complect-items .card-inner .img img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
  .complect-items .card-inner .img {
    width: 90px;
    left: 10px;
  }
  .complect-slides .control {
    margin-top: 20px;
  }
  .complect-slides {
    padding: 30px 50px 50px;
  }
  .complect-items .card-inner, .complect-items .single-card:hover .card-inner {
    padding-left: 100px;
  }

  .side-container {
    &.side-container--not-catalog {
      .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .side-block {
        width: 100%;
      }
      .section__center-head {
        padding-left: 0;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 16px;
  }
  .product .left {
    width: 320px;
  }
  .product-slider__main {
    height: 220px;
  }
  .main-sld {
    width: calc(100% - 60px);
  }
  .product-slider__thumbs {
    height: 186px;
  }
  .product {
    padding-left: 0;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 3) - (2px / 3));
  }
  .cards-list.horizontal .card-inner .img {
    width: 100px;
  }
  .cards-list.horizontal .card-inner {
    padding-left: 120px;
  }
  .header-catalog__nav > ul > li.menu-item-has-children.open > a {
    background-color: rgba(242, 0, 0, 0.64);
    > .img {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  .footer-container .numbers ul li a {
    font-size: 12px;
  }
  .logo-foot {
    width: 110px;
  }
  .developer .img {
    width: 34px;
    height: 34px;
  }
  .footer-container .socials ul li a {
    width: 22px;
    height: 22px;
  }
  .header-catalog__nav > ul > li ul {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
  .header-catalog__nav > ul > li.menu-item-has-children.open ul {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
  }
  .header-catalog__nav > ul > li ul {
    left: 50px;
    width: calc((100vw - 68px));
    z-index: 2;
  }
  .header-menu {
    width: 330px;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
  }
  .footer-top__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      display: none;
    }
    > p {
      width: 100%;
      max-width: none;
      text-align: center;
    }
    .subscribe {
      width: 100%;
      margin-top: 30px;
    }
  }
  .seo-block {
    h1, h2, h3, h4, h5, h6, p, li {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4, h5, h6 {
      font-size: 14px;
    }
    p, li, b {
      font-size: 14px;
    }
  }
  .single-news .text p {
    font-size: 16px;
  }
  .news-list {
    gap: 15px;
  }
  .single-news {
    width: calc((100% / 3) - (30px / 3));
  }
  .single-news .tags {
    top: 10px;
    left: 10px;
    p {
      font-size: 10px;
      line-height: 1.2;
    }
  }
  .single-news .img {
    height: 140px;
    margin-bottom: 10px;
  }
  .single-brand {
    height: 84px;
  }
  .single-info .img {
    align-items: flex-end;

    img {
      height: 60%;
      margin-right: -12%;
    }
  }
  .promo-single {
    height: 266px;
  }
  .cat-hero .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-slider {
    height: 325px;
  }
  .home-banner__container .dots {
    margin-top: -25px;
    margin-bottom: 35px;
  }
  .cat-hero__right {
    width: 100%;
  }
  .home-slider__text {
    padding-bottom: 40px;
  }
  .home .catalog__block {
    margin-right: 0;
    width: 100%;
  }
  .catalog__block {
    &.visible {
      .catalog-mob__btn {
        background: $red;
        color: #fff;
      }
      .header-catalog__nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .header-catalog__nav {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 14px 0;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .header-catalog__nav > ul > li a {
    padding: 7px 16px 7px 16px;
  }
  .header-catalog__nav > ul > li a > .img {
    width: 24px;
    height: 28px;

    img {
      height: 18px;
    }
  }
  .cat-hero__right {
    margin-top: 20px;
  }
  .home-slider__text {
    padding: 0 5% 40px;

  }
  .home-slider__text .price {
    font-size: 12px;

    strong {
      font-size: 16px;
    }
  }
  .home-slider__text ul li .img {
    width: 36px;
    height: 36px;

    img {
      width: 20px;
      height: 20px;
    }
  }
  .home-slider__text ul li p {
    font-size: 12px;
  }
  .home-slider__text {
    .discount {
      padding: 24px 10px 5px;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .sub {
      font-size: 12px;
    }

    .name {
      font-size: 24px;
    }
  }
  .home-banner__container .btn-slides {
    width: 30px;
    height: 68px;
  }
  .catalog-mob__btn {
    display: flex !important;
    width: 100%;
  }
  .header-search input {
    height: 36px;
    padding: 6px 12px;
  }
  .header-catalog {
    width: 200px;
  }
  .header-search {
    width: 240px;
    margin-left: 15px;
  }
  .logo {
    max-width: 140px;
  }
  .header-top {
    display: none;
  }
}
@media screen and (max-width: 922px) {
  .checkout-info__content .cart-q {
    padding: 10px 30px;
  }
  .cabinet-name {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .cabinet-nav {
    z-index: 9;
    padding: 30px;
    margin-right: 0;
    width: 254px;
    position: fixed;
    top: 150px;
    right: 100%;
    transition: transform 0.4s ease;

    &.visible {
      transform: translate(100%, 0);

      .cabinet-open {
        .img {
          opacity: 0;

        }

        &::after {
          position: absolute;
          width: 20px;
          height: 20px;
          display: inline-flex;
          content: '';
          background: url("../img/close-modal.svg") no-repeat center / 100%;

        }
      }
    }
  }
  .cabinet-open {
    display: flex;
    background: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  }
  .img-upload {
    width: 60px;
    height: 60px;

    .upl-input {

      span {
        width: 24px;
        height: 24px;
        background: url("../img/camera-upl.svg") no-repeat center / 16px, #FFFFFF;

      }
    }
  }
}
.ocf-theme-light-block .ocf-footer {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  padding-top: 10px;
  background: #fafafa;
  .ocf-btn {
    padding: 6px 4px;
    font-size: 12px;
  }
}
.side-block .ocf-container .ocf-content .ocf-filter {
  border-radius: 0;
}
@media screen and (max-width: 767px) {
  .modal-window.modal-window--cart .modal-container {
    height: 100%;
  }
  .cart-footer {
    padding: 21px 26px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header-menu {
    .catalog__block {
      display: flex;

    }
    .catalog-mob__btn {

      width: calc(100% - 24px);
      margin: 6px 12px;
    }
  }
  .checkout__thanks {
    .column {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .single-file img {
    width: 26px;
    height: 26px;
  }
  .single-file {
    padding: 8px 8px;
  }

  .char .line p {
    font-size: 13px;
  }
  .char .line span {
    font-size: 13px;
    width: auto;
    text-align: right;
  }
  .cart-table {
    max-height: calc(100vh - 216px);
  }
  .modal-form form > .btn {
    padding: 12px 14px;
  }
  .single-comment {
    padding-bottom: 15px;
  }
  .single-comment .text {
    margin-top: 10px;
  }
  .section-head .btn--white {
    height: auto;
    font-size: 12px;
    padding: 10px 14px;
    svg {
      width: 16px;
    }
  }
  .complect-slides .dots {
    position: static;
  }
  .item-page-links {
    display: none;
  }
  .ocf-theme-light-block .ocf-open .ocf-filter-header {
    box-sizing: border-box;
  }
  .side-block .ocf-filter-header {
    margin-bottom: 5px;
  }
  .ocf-open .ocf-filter-body > .ocf-value-list {
    box-sizing: border-box;
  }
  .side-block .ocf-container {
    margin-top: 0;
  }
  .ocf-btn-mobile-fixed {
    display: none !important;
  }
  .ocf-btn-mobile-static {
    margin-bottom: 0px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-right: auto;
    .ocf-btn {
      background: $red;
      span, i {
        color: #fff;
        filter: brightness(5);
      }
    }
  }

  .side-container {
    margin-bottom: 30px;
  }
  .side-container .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .breadcrumbs {
    margin-bottom: 14px;
  }
  .section__center-head {
    margin-top: 12px;
    padding: 0;
  }
  .side-block {
    width: 100%;
  }
  .footer-column span {
    margin-bottom: 14px;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  .footer-container {
    flex-direction: column-reverse;
    .left {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .logo-foot {
        margin-bottom: 0;
        margin-right: 20px;
      }
      .socials {
        margin: 0;
      }
    }
  }
  .footer-menu {
    width: 100%;
    margin-bottom: 20px;
  }
  .default-section {
    padding: 40px 0;
  }
  .single-unit {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img {
      margin-right: 0;
      margin-bottom: 6px;
    }

    .text {
      p, span {
        display: inline-block;
        text-align: center;
        width: 100%;
      }

      p {
        font-size: 12px;
      }

      span {
        font-size: 10px;
      }
    }
  }
  .single-unit .img {
    flex-shrink: 0;
  }
  .home-slider {
    height: 270px;
  }
  .btn {
    padding: 5px 14px;
  }
  .home-slider__text {
    padding-left: 35px;
    padding-right: 35px;
  }
  .header__contact {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .profile-log {
    padding: 25px 14px;
  }
  .profile__container.profile__container--in {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .profile-log {
      width: 100%;
      max-width: none;
    }
  }
  .delivery-pay {
    margin: 15px 0;
    padding: 15px;
    .text {
      p {
        font-size: 16px;
        margin-bottom: 12px;
      }
      span {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
  .delivery-head {
    background: #FAFAFA;
    min-height: 0;
    .title {
      text-align: left;
    }
    .text {
      max-width: none;
      margin-top: 30px;
      width: 100%;
    }
  }
  .article-content iframe {
    width: 100% !important;
    height: 320px !important;
  }
  .news-top-banner .center h1, .news-top-banner .center h2 {
    font-size: 22px;
    line-height: 1.2;
  }
  .article-content ol > li b {
    display: block;
    margin-bottom: 6px !important;
  }
  .news-top-banner {
    height: 200px;
  }
  .article-content {
    margin: 40px 0;
  }
  .checkout-footer__total {
    width: 100%;

    p {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  .checkout-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cart-line {
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
  }
  .checkout-info__content .cart-t {
    padding-right: 0;
  }
  .checkout-info__content .cart-t {
    width: calc(100% - 108px);
  }
  .checkout-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .checkout-footer__total {
    width: 100%;

    p {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  .checkout-footer__list {
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }


  .checkout-info__content .cart-p {
    width: auto;

    &::after {
      content: '';
    }

    padding: 20px 30px;
    flex-grow: 0;
  }
  .checkout-info__content .cart-q {
    padding: 20px 30px;
    width: auto;
  }
  .desk-only {
    display: none;
  }
  .mob-only {
    display: flex;
  }
  .product-details {
    max-width: none;
    width: 100%;
  }
  .product .right {
    padding-left: 0;
    width: 100%;
  }
  .product .left {
    width: 320px;
  }
  .product {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: calc(100vw - 18px);
      margin-bottom: 15px;
    }
  }

  .seo-section {
    padding: 40px 0;
  }
  .brands-list {
    gap: 10px;
  }
  .single-brand {
    height: 60px;
    padding: 10px;
    width: calc((100% / 4) - (30px / 4));
  }
  .single-info {
    width: 100%;

    .img {
      img {
        height: 100%;
      }
    }
  }
  .single-card {
    width: calc((100% / 3) - (2px / 3));
  }
  .rating-stars img {
    width: 10px;
  }
  .card-inner .price {
    font-size: 14px;
  }
  .card-inner .img {
    height: 100px;
  }
  .section-brands .single-brand {
    width: calc((100% / 4) - (30px / 4));
  }
}
* {
  outline: none !important;
}
@media screen and (max-width: 600px) {
  .added-footer > p {
    font-size: 14px;
    line-height: 1.2;
  }
  .added-related__single {
    padding: 5px;

    .img {
      height: 40px;
    }

    .text {
      p {
        font-size: 12px;
        line-height: 1.1;
      }

      span {
        font-size: 10px;
        line-height: 1.1;
      }
    }
  }
  .added-content {
    display: none;

    .cart-line {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .checkboxes .check-cont {
    width: 100%;
  }
  .checkout-info .cart-table {
    max-height: 370px;
    overflow-y: auto;
  }
  .page-not-found {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 20px 20px 40px;
    .text {
      margin-top: 40px;
      max-width: none;
      width: 100%;
      span {
        font-size: 70px;
        text-align: center;
        width: 100%;
        display: inline-block;
      }
      p {
        text-align: center;
        width: 100%;
      }
      .btns {
        flex-direction: column;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .single-file {
    width: calc((100% / 2) - (12px / 2));
  }
  .contacts-location {
    gap: 16px;
    flex-wrap: wrap;
  }
  .map-container {
    height: 240px;
  }
  .single-location {
    width: calc(50% - 8px);
    margin-top: 0;
  }
  .delivery-info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .left, .right {
      width: 100%;
    }
  }
  .delivery-head .text span {
    font-size: 14px;
    line-height: 1.2;
  }
  .section-brands {
    padding: 15px 10px;
  }
  .delivery-head .text {
    margin-top: 15px;
  }
  .delivery-head .text p {
    font-size: 12px;
    line-height: 1.2;
    strong {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  .section__center.section__center--ml .section__center-head {
    padding: 0 10px !important;
  }
  .section-brands .single-brand {
    height: 90px;
  }
  .section-brands .single-brand {
    width: calc((100% / 3) - (20px / 3));
  }
  .review-line__head .img {
    display: none;
  }
  .review-line__head {
    > a, > p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: initial;
    }
  }
  .added-content {
    display: none;

    .cart-line {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .cart-table {
    max-height: calc(100vh - 283px);
  }
  .checkout-info .cart-table {
    max-height: 370px;
    overflow-y: auto;
  }
  .checkout-info .cart-table {
    max-height: 370px;
    overflow-y: auto;
  }
  .cabinet-orders__table {
    width: calc(100% + 58px);
    margin-left: -29px;
    margin-right: -29px;
    margin-top: 15px;
    row-gap: 10px;
  }
  .double-inp {
    flex-direction: column;

    .input-cont {
      width: 100%;
    }
  }
  .button-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .btn {
      margin-bottom: 14px;
      width: 100%;
    }
  }
  .button-cont > a {
    text-align: center;
    margin-left: 0;
  }
  .profile-log__content {
    max-width: none;

    .button-cont {
      flex-direction: column;
      align-items: center;

      .btn {
        width: 100%;
      }
    }
  }
  .profile-log__content {
    max-width: none;

    .button-cont {
      flex-direction: column;
      align-items: center;

      .btn {
        width: 100%;
      }
    }
  }
  .single-comment .text p {
    font-size: 12px;
  }
  .complect-items .card-inner, .complect-items .single-card:hover .card-inner {
    padding: 20px;
    box-sizing: border-box;
  }
  .single-comment .bottom > p {
    font-size: 12px;
  }
  .comments-block ~ .more-items {
    justify-content: center;
  }
  .single-comment .head .img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .single-comment .name > p {
    font-size: 14px;
    line-height: 1.2;
  }
  .complect-items .card-inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      position: static;
      height: 100px;
      width: 100%;
    }
  }
  .complect-slides .control {
    justify-content: space-between;
  }
  .complect-slides .control p {
    flex-direction: column;
    align-items: flex-start;
    strong {
      margin-bottom: 5px;
    }
  }
  .product-slider__main {
    height: 220px;
  }
  .main-sld {
    width: calc(100% - 97px);
  }
  .thumbs-sld {
    width: 90px;
  }
  .product-slider__thumbs {
    height: 186px;
  }
  .pagination ul {
    justify-content: space-between;

    li {
      a, span {
        width: 43px;
        height: 43px;
      }
    }
  }
  .cards-list.horizontal .card-inner .img {
    width: 80px;
  }
  .cards-list.horizontal .card-inner {
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    .code {
      top: 10px;
      left: 10px;
    }
  }
  .cards-list.horizontal .card-inner .img img {
    width: 100%;
    height: auto;
  }
  .footer-container {
    flex-direction: column;
    padding: 30px 0;
    .left {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .footer__down .copyr {
    font-size: 10px;
  }
  .header-menu__log {
    padding: 14px 20px;
    min-height: 74px;

  }
  .footer-column ul li a {
    font-size: 10px;
    line-height: 1.1;
  }
  .footer-column span {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-column ul li {
    margin-bottom: 3px;
  }
  .developer .img {
    margin-left: 5px;
  }
  .footer-column {
    width: calc(50% - 10px);
  }
  .footer-container .text {
    gap: 20px;
    .socials {
      width: calc(50% - 10px);
    }
    .numbers {
      width: calc(50% - 10px);
    }
  }
  .footer-container .left .logo-foot {
    width: 200px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-menu {
    margin-bottom: 0;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .header-catalog__nav {
    width: 100%;
  }
  .header-catalog__nav > ul > li ul {
    max-height: 100%;
    overflow-y: auto;
  }
  .header-catalog__nav > ul > li ul li {
    width: 50%;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      text-align: left;
      border-bottom: 1px solid #FAFAFA;
      .img {
        margin-bottom: 0;
        margin-right: 6px;
        width: 60px;
      }
    }
    &:nth-child(odd) {
      a {
        border-right: 1px solid #FAFAFA;
      }
    }
  }
  .header-menu {
    max-height: calc(100vh - 53px);
    width: calc(100% + 18px);
    margin-left: -9px;
    margin-right: -9px;
    min-height: calc(100vh - 53px);
  }
  .header-menu__content {
    padding: 14px 0;
  }
  .header-menu__control ul {
    padding: 10px 20px;
  }
  .header-menu__control ul li a {
    padding: 8px 0;
  }
  .header-menu__content .pages li a {
    padding: 10px 0;
  }
  .footer-top__container .subscribe {
    flex-direction: column;
    align-items: flex-start;
    input {
      margin-bottom: 6px;
      margin-right: 0;
      width: 100%;
      height: 44px;
    }
    .btn {
      width: 100%;
      height: 44px;
    }
  }
  .single-news {
    width: 100%;
  }
  .promo-single .home-slider__text .name {
    font-size: 16px;
  }
  .promo-single {
    height: 225px;
  }
  .promo-single .home-slider__text .btn {
    padding: 10px 14px;
  }
  .promo-single {
    width: 100%;
  }
  .section-head {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title {
      margin-bottom: 10px;
    }
  }
  .title {
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .red-link {
    font-size: 14px;
    line-height: 1.2;
  }
  .cat-hero {
    margin-bottom: 30px;
  }
  .home-content {
    padding: 40px 0;
  }
  .home-section {
    padding-bottom: 40px;
  }
  .icon-search {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 2px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .header-bottom {
    position: relative;
  }
  .header__content {
    flex-grow: 0;
  }
  .header-search {
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
    position: static;

    .icon-search {
      display: flex;
    }

    &::after {
      display: none;
    }

    input {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
    }

    &.open {
      input {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home-slider {
    height: 0;
    padding-top: 100%;
    position: relative;
    .swiper-wrapper {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
  .article-content iframe {
    width: 100% !important;
    height: 190px !important;
  }
  .article-content ol > li {
    margin-bottom: 12px;
  }
  .article-content h2 {
    font-size: 16px;
  }
  .char .line span {
    max-width: 110px;
  }
  .char .line {
    align-items: flex-start;
  }
  .single-comment {
    width: 100%;
  }
  .complect-slides .control p {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
  }
  .complect-slides .control {
    flex-direction: column;
    align-items: flex-end;
    .btn {
      width: 100%;
      margin-top: 10px;
    }
  }
  .complect-slides {
    padding: 30px 30px 50px;
  }
  .complect-slides .slide-btns .btn-slides {
    height: 54px;
    width: 26px;
  }
  .complect-items .card-inner .img {
    height: 80px;
  }
  .complect-items .card-inner {
    padding: 15px 12px;
  }
  .product-container .buttons .btn {
    height: 36px;
    padding: 4px 6px;
  }
  .product-container .buttons {
    margin: 8px 0;
  }
  .product-container > .price {
    font-size: 24px;
    strong {
      font-size: 18px;
    }
  }
  .product-variations {
    flex-direction: column;
  }
  .product-colors, .product-sizes {
    width: 100%;
    ul {
      max-width: none;
      width: 100%;
    }
  }
  .product-available {
    margin: 8px 0;
  }
  .ocf-btn-mobile-static {
    margin-bottom: 6px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-right: 0;
    width: 100%;
    margin-top: 6px;
    .ocf-btn {
      width: 100%;
    }
  }
  .control-line {
    flex-wrap: wrap;
  }
  .control-btn {
    padding: 6px 10px;
  }
  .control-sort p {
    font-size: 12px;
  }
  .control-sort select {
    font-size: 11px;
  }
  .control-line {
    justify-content: space-between;
  }
  .cards-list.horizontal .single-card {
    width: 100% !important;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 2) - (1px / 2));
  }
  .header-catalog__nav > ul > li ul li a .img {
    width: 34px;
  }
  .header-catalog__nav > ul > li ul li a {
    font-size: 10px;
    line-height: 1.1;
    padding: 4px;
  }
  .single-info .text {
    padding: 20px 14px;
  }
  .single-info {
    height: 240px;
  }
  .single-info {
    width: 100%;

    .img {
      img {
        height: 70%;
      }
    }
  }
  .single-card {
    width: calc((100% / 2) - (1px / 2));
  }
  .card-inner .btns a svg {
    width: 45%;
  }
  .home-slider__text ul li p {
    font-size: 10px;
    color: #333333;
  }
  .cat-hero__units {
    overflow-x: auto;
  }
  .single-unit {
    width: calc(50% - 5px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;

    .text {
      p, span {
        text-align: left;
      }
    }
  }
  .home-slider__text ul {
    li {
      .img {
        width: 32px;
        height: 32px;

        img {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
  .map {
    margin: 30px 0;
  }
}
@media screen and (max-width: 450px) {
  .info-page__head .news-sort a {
    font-size: 8px;
    padding: 4px 5px;
    line-height: 1.2;
  }
  .single-location {
    width: 100%;
    .center {
      flex-direction: row-reverse;
      .text {
        width: auto;
        flex-grow: 1;
        margin-right: 6px;
        margin-bottom: 0;
      }
      .img {
        display: flex;
        width: 120px;
        height: 120px;
        margin-top: 0;
      }
    }

  }

  .delivery-info .left .text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      border-left: none;
      border-bottom: 2px solid $red;
      margin-bottom: 12px;
    }
  }
  .delivery-pay {
    flex-direction: column-reverse;
    align-items: center;
    .img {
      width: 50%;
      margin-right: 0;
      margin-top: 5px;
    }
    .text {
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 400px) {
  .delivery-pay {

  }
  .news-sort {
    flex-wrap: wrap;
    a {
      border-bottom: 1px solid #F4F4F4;
      width: calc(100% / 4);
      &.active {
        border-bottom: 1px solid #333333;
      }
    }
  }
  .section-brands .single-brand {
    width: calc((100% / 2) - (10px / 2));
    height: 70px;
  }
  .product-container .buttons .btn {
    font-size: 10px;
  }
  .product-container .buttons .btn--red svg {
    width: 16px;
  }
}

@media screen and (max-width: 360px) {
  .checkout-header .logo {
    height: 29px;

    a, img {
      height: 29px;
    }
  }
  .checkout__thanks .checkout-info__content {
    padding: 20px 10px;
  }
  .single-file a {
    font-size: 10px;
  }
  .checkout__thanks .checkout-info__content {
    padding: 20px 10px;
  }
  .cabinet-nav {
    padding: 15px;
  }
  .pagination ul li a, .pagination ul li span {
    width: 35px;
    height: 35px;
  }
  .control-btn {
    padding: 2px 8px;
    svg {
      width: 12px;
      height: auto;
    }
  }
  .home-slider__text ul {
    display: none;
  }
  .home-slider__text .buttons {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .btn {
      margin-bottom: 10px;
    }
  }
}

