@media screen and (max-width: 1440px) {
  .product .left {
    width: 470px;
  }
  .product-slider__main {
    height: 284px;
  }
  .product-slider__thumbs {
    height: 235px;
  }
  .product-container > .name {
    font-size: 22px;
    line-height: 1.2;
  }
  .product-container .buttons .btn {
    height: 44px;
    padding: 4px 14px;
  }
  .product-sizes ul li a {
    padding: 4px;
    font-size: 11px;
  }
  .footer-container .numbers ul li a {
    font-size: 18px;
    line-height: 1.2;
  }
  .footer-column ul li a {
    font-size: 14px;
    line-height: 1.2;
  }
  .footer-column ul li {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-container .left {
    width: 300px;
  }
  .header-catalog__nav > ul > li ul {
    width: calc((100vw - 100%) - 18px);
  }
  .header-catalog__nav > ul > li ul li a {
    padding: 10px;
  }
  .header-menu {
    width: 300px;
  }
  .header-search {
    max-width: 270px;
  }
  .header-phone a {
    font-size: 14px;
  }
  .header-lang span {
    font-size: 14px;
  }
  .home .catalog__block {
    width: 300px;
    margin-top: 10px;
  }
  .cat-hero__right {
    width: calc(100% - 330px);
  }
  .header-catalog {
    width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .header__contact a svg {
    width: 18px;
    height: 18px;
  }
  .header-cart p {
    font-size: 14px;
    line-height: 1.2;
  }
  .single-unit .text span {
    font-size: 12px;
    line-height: 1.2;
  }
  .single-unit .text p {
    font-size: 14px;
    line-height: 1.2;
  }
  .header__contact a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header-catalog__nav > ul > li ul {
  bottom: 0;
  overflow-y: auto;
}
@media screen and (max-width: 1220px) {
  .thumbs-sld {
    width: 72px;
  }
  .item-page-links {
    margin-bottom: 15px;
    padding: 10px 8px;
  }
  .product-available span {
    font-size: 12px;
    line-height: 1.2;
  }
  .product-colors span, .product-sizes span {
    font-size: 12px;
    strong {
      font-size: 13px;
    }
  }
  .product-container > .price {
    font-size: 28px;
    line-height: 1.2;
  }
  .product-rate {
    margin-top: 15px;
  }
  .product {
    padding-left: 15px;
  }
  .section__center-head {
    margin-top: 15px;
    padding-left: 15px;
  }
  .product-variations {
    gap: 11px;
  }
  .item-link {
    font-size: 12px;
  }
  .product-available {
    margin: 14px 0;
  }
  .product-colors ul {
    max-width: 120px;
  }
  .product-container .buttons {
    margin: 15px 0;
    flex-wrap: wrap;
  }
  .main-sld {
    width: calc(100% - 79px);
  }
  .product .left {
    width: 400px;
  }
  .product .right {
    padding-left: 15px;
  }
  .product-container .buttons .btn {
    font-size: 12px;
  }
  .units-footer {
    padding: 60px 0;
  }
  .product-container {
    & > .name {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .side-container {
    margin-bottom: 60px;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 4) - (3px / 4));
  }
  .footer-container {
    padding: 50px 0;
  }


  .header-catalog__nav > ul > li ul li a {
    font-size: 11px;
  }
  .footer-top__container > p {
    font-size: 18px;
    line-height: 1.2;
    max-width: 350px;
  }
  .footer-top__container .img {
    width: calc(60% - 390px);
    left: 350px;
  }
  .footer-top__container {
    padding: 30px 0;
  }
  .seo-section {
    padding: 60px 0;
  }
  .single-news .img {
    height: 190px;
  }
  .single-news .text p {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
  }
  .single-info {
    height: 286px;
  }
  .single-info .text {
    padding: 30px;

    .name {
      font-size: 22px;
    }

    .sub {
      font-size: 12px;
      max-width: 200px;
    }
  }
  .promo-single {
    height: 340px;
  }
  .promo-single .home-slider__text .name {
    font-size: 24px;
  }
  .promo-single .home-slider__text .sub {
    font-size: 14px;
  }
  .card-inner .img {
    height: 140px;
  }
  .card-inner .name {
    font-size: 12px;
  }
  .card-inner .btns {
    opacity: 1;
    pointer-events: auto;
  }
  .card-inner .rate {
    margin: 6px 0;
    opacity: 1;
    pointer-events: auto;
  }
  .card-inner .price {
    font-size: 16px;
    line-height: 1.2;

    strong {
      font-size: 12px;
    }
  }
  .header-catalog__nav > ul > li a {
    padding: 9px 20px 9px 28px;
  }
  .btn {
    padding: 5px 25px;
    font-weight: 500;
  }
  .single-unit .img {
    width: 42px;
    height: 42px;

    img {
      height: 21px;
    }
  }
  .home-slider {
    height: 360px;
  }
  .home-slider__text {
    ul {
      li {
        .img {
          width: 42px;
          height: 42px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .discount {
      padding: 30px 12px 6px;
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 18px;
    }

    .sub {
      font-size: 14px;
      line-height: 1.2;
    }

    .name {
      font-size: 32px;
      line-height: 1.2;
    }
  }
  .logo {
    max-width: 180px;
  }
  .header-search {
    width: 410px;
  }
  .header-phones {
    display: none;
  }
  .header__content {
    justify-content: flex-end;
  }
  .default-section {
    padding: 60px 0;
  }
  .cards-list.horizontal .card-inner .img img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 1050px) {
  .product-sizes ul li a {
    font-size: 9px;
  }
  .product-colors ul li a {
    width: 24px;
    height: 24px;
  }
  .units-footer {
    padding: 30px 0;
  }
  .product-container {
    & > .name {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .catalog__block {
    margin-top: 10px;
  }

  .footer-column span {
    font-size: 14px;
    line-height: 1.2;
  }
  .footer-column ul li a {
    font-size: 12px;

  }
  .footer-column ul li {
    margin-bottom: 8px;
  }
  .logo-foot {
    width: 140px;
    margin-bottom: 20px;
  }
  .footer-container .left {
    width: 200px;
  }
  .footer-container .numbers ul li a {
    font-size: 16px;
    line-height: 1.2;
  }
  .cat-hero {
    overflow: visible;
  }
  .header-catalog__nav > ul > li ul {
    padding: 0;
  }
  .header-catalog__nav > ul > li ul li a {
    padding: 4px 7px;
  }
  .header-catalog__nav > ul > li ul li {
    width: calc(100% / 5);
  }
  .header-menu {
    width: 250px;
  }
  .header-lang ul {
    left: auto;
    right: 0;
  }
  .header-lang {
    &.active {
      ul {
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .single-brand {
    height: 116px;
  }
  .section-head {
    margin-bottom: 15px;
  }
  .red-link {
    font-size: 12px;
  }

  .card-inner {
    padding: 14px;
  }
  .single-card {
    width: calc((100% / 4) - (3px / 4));

    &:hover {
      .card-inner {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        margin: -4px;
        padding: 18px;
      }
    }
  }
  .title {
    font-size: 24px;
    line-height: 1.2;
  }
  .cat-hero {
    margin-bottom: 60px;
  }
  .home-content {
    padding: 60px 0;
  }
  .home-section {
    padding-bottom: 60px;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .header-catalog__nav > ul > li a {
    font-size: 12px;
    line-height: 1.2;
  }
  .home .catalog__block {
    width: 250px;
    margin-right: 20px;
  }
  .header-catalog {
    width: 250px;
  }
  .cat-hero__right {
    width: calc(100% - 270px);
  }
}

@media screen and (max-width: 992px) {
  .side-container {
    &.side-container--not-catalog {
      .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      .side-block {
        width: 100%;
      }
      .section__center-head {
        padding-left: 0;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 16px;
  }
  .product .left {
    width: 320px;
  }
  .product-slider__main {
    height: 220px;
  }
  .main-sld {
    width: calc(100% - 60px);
  }
  .product-slider__thumbs {
    height: 186px;
  }
  .product {
    padding-left: 0;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 3) - (2px / 3));
  }
  .cards-list.horizontal .card-inner .img {
    width: 100px;
  }
  .cards-list.horizontal .card-inner {
    padding-left: 120px;
  }
  .header-catalog__nav > ul > li.menu-item-has-children.open > a {
    background-color: rgba(242, 0, 0, 0.64);
    > .img {
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  .footer-container .numbers ul li a {
    font-size: 12px;
  }
  .logo-foot {
    width: 110px;
  }
  .developer .img {
    width: 34px;
    height: 34px;
  }
  .footer-container .socials ul li a {
    width: 22px;
    height: 22px;
  }
  .header-catalog__nav > ul > li ul {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
  .header-catalog__nav > ul > li.menu-item-has-children.open ul {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
  }
  .header-catalog__nav > ul > li ul {
    left: 50px;
    width: calc((100vw - 68px));
    z-index: 2;
  }
  .header-menu {
    width: 330px;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
  }
  .footer-top__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      display: none;
    }
    > p {
      width: 100%;
      max-width: none;
      text-align: center;
    }
    .subscribe {
      width: 100%;
      margin-top: 30px;
    }
  }
  .seo-block {
    h1, h2, h3, h4, h5, h6, p, li {
      margin-bottom: 10px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4, h5, h6 {
      font-size: 14px;
    }
    p, li, b {
      font-size: 14px;
    }
  }
  .single-news .text p {
    font-size: 16px;
  }
  .news-list {
    gap: 15px;
  }
  .single-news {
    width: calc((100% / 3) - (30px / 3));
  }
  .single-news .tags {
    top: 10px;
    left: 10px;
    p {
      font-size: 10px;
      line-height: 1.2;
    }
  }
  .single-news .img {
    height: 140px;
    margin-bottom: 10px;
  }
  .single-brand {
    height: 84px;
  }
  .single-info .img {
    align-items: flex-end;

    img {
      height: 60%;
      margin-right: -12%;
    }
  }
  .promo-single {
    height: 266px;
  }
  .cat-hero .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-slider {
    height: 325px;
  }
  .home-banner__container .dots {
    margin-top: -25px;
    margin-bottom: 35px;
  }
  .cat-hero__right {
    width: 100%;
  }
  .home-slider__text {
    padding-bottom: 40px;
  }
  .home .catalog__block {
    margin-right: 0;
    width: 100%;
  }
  .catalog__block {
    &.visible {
      .header-catalog__nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .header-catalog__nav {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 14px 0;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .header-catalog__nav > ul > li a {
    padding: 7px 16px 7px 16px;
  }
  .header-catalog__nav > ul > li a > .img {
    width: 24px;
    height: 28px;

    img {
      height: 18px;
    }
  }
  .cat-hero__right {
    margin-top: 20px;
  }
  .home-slider__text {
    padding: 0 5% 40px;

  }
  .home-slider__text .price {
    font-size: 12px;

    strong {
      font-size: 16px;
    }
  }
  .home-slider__text ul li .img {
    width: 36px;
    height: 36px;

    img {
      width: 20px;
      height: 20px;
    }
  }
  .home-slider__text ul li p {
    font-size: 12px;
  }
  .home-slider__text {
    .discount {
      padding: 24px 10px 5px;
      font-size: 18px;
      margin-bottom: 12px;
    }

    .sub {
      font-size: 12px;
    }

    .name {
      font-size: 24px;
    }
  }
  .home-banner__container .btn-slides {
    width: 30px;
    height: 68px;
  }
  .catalog-mob__btn {
    display: flex !important;
    width: 100%;
  }
  .header-search input {
    height: 36px;
    padding: 6px 12px;
  }
  .header-catalog {
    width: 200px;
  }
  .header-search {
    width: 240px;
    margin-left: 15px;
  }
  .logo {
    max-width: 140px;
  }
  .header-top {
    display: none;
  }
}
.ocf-theme-light-block .ocf-footer {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  padding-top: 10px;
  background: #fafafa;
  .ocf-btn {
    padding: 6px 4px;
    font-size: 12px;
  }
}
.side-block .ocf-container .ocf-content .ocf-filter {
  border-radius: 0;
}
@media screen and (max-width: 767px) {
  .item-page-links {
    display: none;
  }
  .ocf-theme-light-block .ocf-open .ocf-filter-header {
    box-sizing: border-box;
  }
  .side-block .ocf-filter-header {
    margin-bottom: 5px;
  }
  .ocf-open .ocf-filter-body > .ocf-value-list {
    box-sizing: border-box;
  }
  .side-block .ocf-container {
    margin-top: 0;
  }
  .ocf-btn-mobile-fixed {
    display: none !important;
  }
  .ocf-btn-mobile-static {
    margin-bottom: 0px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-right: auto;
    .ocf-btn {
      background: $red;
      span, i {
        color: #fff;
        filter: brightness(5);
      }
    }
  }

  .side-container {
    margin-bottom: 30px;
  }
  .side-container .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .breadcrumbs {
    margin-bottom: 14px;
  }
  .section__center-head {
    margin-top: 12px;
    padding: 0;
  }
  .side-block {
    width: 100%;
  }
  .footer-column span {
    margin-bottom: 14px;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  .footer-container {
    flex-direction: column-reverse;
    .left {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .logo-foot {
        margin-bottom: 0;
        margin-right: 20px;
      }
      .socials {
        margin: 0;
      }
    }
  }
  .footer-menu {
    width: 100%;
    margin-bottom: 20px;
  }
  .default-section {
    padding: 40px 0;
  }
  .single-unit {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .img {
      margin-right: 0;
      margin-bottom: 6px;
    }

    .text {
      p, span {
        display: inline-block;
        text-align: center;
        width: 100%;
      }

      p {
        font-size: 12px;
      }

      span {
        font-size: 10px;
      }
    }
  }
  .single-unit .img {
    flex-shrink: 0;
  }
  .home-slider {
    height: 270px;
  }
  .btn {
    padding: 5px 14px;
  }
  .home-slider__text {
    padding-left: 35px;
    padding-right: 35px;
  }
  .header__contact {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .product .right {
    padding-left: 0;
    width: 100%;
  }
  .product .left {
    width: 320px;
  }
  .product {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .left {
      width: calc(100vw - 18px);
      margin-bottom: 15px;
    }
  }

  .seo-section {
    padding: 40px 0;
  }
  .brands-list {
    gap: 10px;
  }
  .single-brand {
    height: 60px;
    padding: 10px;
    width: calc((100% / 4) - (30px / 4));
  }
  .single-info {
    width: 100%;

    .img {
      img {
        height: 100%;
      }
    }
  }
  .single-card {
    width: calc((100% / 3) - (2px / 3));
  }
  .rating-stars img {
    width: 10px;
  }
  .card-inner .price {
    font-size: 14px;
  }
  .card-inner .img {
    height: 100px;
  }
}
* {
  outline: none !important;
}
@media screen and (max-width: 600px) {
  .product-slider__main {
    height: 220px;
  }
  .main-sld {
    width: calc(100% - 97px);
  }
  .thumbs-sld {
    width: 90px;
  }
  .product-slider__thumbs {
    height: 186px;
  }
  .pagination ul {
    justify-content: space-between;

    li {
      a, span {
        width: 43px;
        height: 43px;
      }
    }
  }
  .cards-list.horizontal .card-inner .img {
    width: 80px;
  }
  .cards-list.horizontal .card-inner {
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    .code {
      top: 10px;
      left: 10px;
    }
  }
  .cards-list.horizontal .card-inner .img img {
    width: 100%;
    height: auto;
  }
  .footer-container {
    flex-direction: column;
    padding: 30px 0;
    .left {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .footer__down .copyr {
    font-size: 10px;
  }
  .header-menu__log {
    padding: 14px 20px;
    min-height: 74px;

  }
  .footer-column ul li a {
    font-size: 10px;
    line-height: 1.1;
  }
  .footer-column span {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .footer-column ul li {
    margin-bottom: 3px;
  }
  .developer .img {
    margin-left: 5px;
  }
  .footer-column {
    width: calc(50% - 10px);
  }
  .footer-container .text {
    gap: 20px;
    .socials {
      width: calc(50% - 10px);
    }
    .numbers {
      width: calc(50% - 10px);
    }
  }
  .footer-container .left .logo-foot {
    width: 200px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-menu {
    margin-bottom: 0;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .header-catalog__nav {
    width: 100%;
  }
  .header-catalog__nav > ul > li ul {
    max-height: 100%;
    overflow-y: auto;
  }
  .header-catalog__nav > ul > li ul li {
    width: 50%;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      text-align: left;
      border-bottom: 1px solid #FAFAFA;
      .img {
        margin-bottom: 0;
        margin-right: 6px;
        width: 60px;
      }
    }
    &:nth-child(odd) {
      a {
        border-right: 1px solid #FAFAFA;
      }
    }
  }
  .header-menu {
    max-height: calc(100vh - 53px);
    width: calc(100% + 18px);
    margin-left: -9px;
    margin-right: -9px;
    min-height: calc(100vh - 53px);
  }
  .header-menu__content {
    padding: 14px 0;
  }
  .header-menu__control ul {
    padding: 10px 20px;
  }
  .header-menu__control ul li a {
    padding: 8px 0;
  }
  .header-menu__content .pages li a {
    padding: 10px 0;
  }
  .footer-top__container .subscribe {
    flex-direction: column;
    align-items: flex-start;
    input {
      margin-bottom: 6px;
      margin-right: 0;
      width: 100%;
      height: 44px;
    }
    .btn {
      width: 100%;
      height: 44px;
    }
  }
  .single-news {
    width: 100%;
  }
  .promo-single .home-slider__text .name {
    font-size: 16px;
  }
  .promo-single {
    height: 225px;
  }
  .promo-single .home-slider__text .btn {
    padding: 10px 14px;
  }
  .promo-single {
    width: 100%;
  }
  .section-head {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title {
      margin-bottom: 10px;
    }
  }
  .title {
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .red-link {
    font-size: 14px;
    line-height: 1.2;
  }
  .cat-hero {
    margin-bottom: 30px;
  }
  .home-content {
    padding: 40px 0;
  }
  .home-section {
    padding-bottom: 40px;
  }
  .icon-search {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 2px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .header-bottom {
    position: relative;
  }
  .header__content {
    flex-grow: 0;
  }
  .header-search {
    width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
    position: static;

    .icon-search {
      display: flex;
    }

    &::after {
      display: none;
    }

    input {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
    }

    &.open {
      input {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .product-container .buttons .btn {
    height: 36px;
    padding: 4px 6px;
  }
  .product-container .buttons {
    margin: 8px 0;
  }
  .product-container > .price {
    font-size: 24px;
    strong {
      font-size: 18px;
    }
  }
  .product-variations {
    flex-direction: column;
  }
  .product-colors, .product-sizes {
    width: 100%;
    ul {
      max-width: none;
      width: 100%;
    }
  }
  .product-available {
    margin: 8px 0;
  }
  .ocf-btn-mobile-static {
    margin-bottom: 6px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-right: 0;
    width: 100%;
    margin-top: 6px;
    .ocf-btn {
      width: 100%;
    }
  }
  .control-line {
    flex-wrap: wrap;
  }
  .control-btn {
    padding: 6px 10px;
  }
  .control-sort p {
    font-size: 12px;
  }
  .control-sort select {
    font-size: 11px;
  }
  .control-line {
    justify-content: space-between;
  }
  .cards-list.horizontal .single-card {
    width: 100% !important;
  }
  .cards-list.cards-list--five .single-card {
    width: calc((100% / 2) - (1px / 2));
  }
  .header-catalog__nav > ul > li ul li a .img {
    width: 34px;
  }
  .header-catalog__nav > ul > li ul li a {
    font-size: 10px;
    line-height: 1.1;
    padding: 4px;
  }
  .single-info .text {
    padding: 20px 14px;
  }
  .single-info {
    height: 240px;
  }
  .single-info {
    width: 100%;

    .img {
      img {
        height: 70%;
      }
    }
  }
  .single-card {
    width: calc((100% / 2) - (1px / 2));
  }
  .card-inner .btns a svg {
    width: 45%;
  }
  .home-slider__text ul li p {
    font-size: 10px;
    color: #333333;
  }
  .cat-hero__units {
    overflow-x: auto;
  }
  .single-unit {
    width: calc(50% - 5px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;

    .text {
      p, span {
        text-align: left;
      }
    }
  }
  .home-slider__text ul {
    li {
      .img {
        width: 32px;
        height: 32px;

        img {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .pagination ul li a, .pagination ul li span {
    width: 35px;
    height: 35px;
  }
  .control-btn {
    padding: 2px 8px;
    svg {
      width: 12px;
      height: auto;
    }
  }
  .home-slider__text ul {
    display: none;
  }
  .home-slider__text .buttons {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .btn {
      margin-bottom: 10px;
    }
  }
}

